<table class="table" >
	<tr>
		<th>Select Album</th>
	</tr>
<tr ng-repeat="item in message">
	<td>
		<a  ng-click="click( item )" class="button grow button pop button float-shadow">
			<span class="glyphicon glyphicon-folder-open"> {{ item }} </span>
		</a>
	</td>
</tr>
</table>