<table class="table" >
	<tr>
		<th>Select Artist By Alphabetically </th>
	</tr>
<tr ng-repeat="item in message">
	<td>
		<a  ng-click="click( item )" class="button grow button pop button float-shadow">
			<span class="glyphicon glyphicon-list" class="col-md-6"> {{ item }}</span>
		</a>
	</td>
</tr>
</table>