<!--<button type="button" class="btn btn-default" ng-repeat="item in message">
<li>
	{{ item }}
	<br/>
</li>
</button>
-->
<table class="table" >
	<tr>
		<th>Select Artist By Name</th>
	</tr>
<tr ng-repeat="item in message">
	<td>
		<a  ng-click="click( item )" class="button grow button pop button float-shadow">
			<span class="glyphicon glyphicon-user"> {{ item }}</span>
		</a>
	</td>
</tr>
</table>