<table class="table" >
	<tr>
		<th>Select Song</th>
	</tr>
<tr ng-repeat="x in groups" >
	<td>
		<a  ng-click="click( x.url )" class="button grow button pop button float-shadow">
			<span class="glyphicon glyphicon-user"> {{ x.name }}</span>
		</a>
	</td>
</tr>
</table>