certifi==2017.11.5
chardet==3.0.4
Django==2.0
django-appconf==1.0.2
django-cacheops==4.0.4
django-compressor==2.2
django-imagekit==4.0.2
djangorestframework==3.7.7
funcy==1.10
idna==2.6
mutagen==1.39
olefile==0.44
pilkit==2.0
Pillow==4.3.0
psycopg2==2.7.3.2
pytz==2017.3
raven==6.4.0
rcssmin==1.0.6
redis==2.10.6
requests==2.18.4
rjsmin==1.0.12
six==1.11.0
urllib3==1.22
uWSGI==2.0.15
