Django==1.9.7
django-extensions==1.6.7
django-webpack-loader==0.3.0
djangorestframework==3.3.3
djangorestframework-jwt==1.8.0
drfdocs==0.0.11
dropbox==6.5.0
pkg-resources==0.0.0
psycopg2==2.6.1
PyJWT==1.4.0
requests==2.10.0
six==1.10.0
urllib3==1.16
Werkzeug==0.11.10
