appdirs==1.4.3
contextlib2==0.5.4
coreapi==2.3.0
coreschema==0.0.4
Django==1.10.6
django-appconf==1.0.2
django-compressor==2.1.1
django-querycount==0.5.0
django-webpack-loader==0.4.1
djangorestframework==3.6.2
djangorestframework-jwt==1.10.0
freezegun==0.3.8
itypes==1.1.0
Jinja2==2.9.5
MarkupSafe==1.0
mutagen==1.37
packaging==16.8
psycopg2==2.7
PyJWT==1.4.2
pyparsing==2.2.0
python-dateutil==2.6.0
raven==6.0.0
rcssmin==1.0.6
requests==2.13.0
rjsmin==1.0.12
six==1.10.0
uritemplate==3.0.0
