<!DOCTYPE html>
<html lang="en" ng-app="hirenMusic">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hiren: Login</title>
    {% load staticfiles %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
</head>
<body>


<div id="login" ng-controller="LoginController">
    <form action="/login/" method="post"> {% csrf_token %}
        <label>
            <input type="text" required name="username"/>
            <div class="label-text">User name</div>
        </label>
        <label>
            <input type="password" required name="password"/>
            <div class="label-text">Password</div>
        </label>
        <button class="button" type="submit" value="Login" > Login </button>
    </form>
</div>
<script src="{% static 'bower/angular/angular.min.js' %}"></script>
<script src="{% static 'bower/angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'js/controller/login.js' %}"></script>
</body>
</html>